body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100vh;
}

a {
  color: #00B7FF;
}


.nav-content{

  text-decoration: none;
  color: black;

}

.on{
  color: red;
}

.nav-content:hover{
  text-decoration: underline;
}

.degradeColor {
  background: linear-gradient( #d1dfe3,#539ed0);
}

.formArea {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}