<header>
    <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="d-inline-block align-text-center" width="40px" src="/images/train.png" alt="">
                Ticketac
            </a>
            <div>
                <a class="nav-content on" href="#">Connection</a>
                <a class="nav-content" href="/mylast_trip">My last trips</a>
            </div>

        </div>
    </nav>


</header>
